<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.sai.umd-ta-ra-discover</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/saipraneethkmg/Library/Application Support/cold_email_workflow/scripts/run_umd_ta_ra_discover.sh</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/saipraneethkmg/Library/Application Support/cold_email_workflow</string>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key>
    <integer>1</integer>
    <key>Hour</key>
    <integer>19</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>

  <key>StandardOutPath</key>
  <string>/Users/saipraneethkmg/Library/Application Support/cold_email_workflow/logs/umd_ta_ra_discover.launchd.out.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/saipraneethkmg/Library/Application Support/cold_email_workflow/logs/umd_ta_ra_discover.launchd.err.log</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
</dict>
</plist>
